<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to a Trivia Quiz!</title>
  <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
  <div class="container">
    <header>
        <div class= "logo">
            <img src="../public/images/Pencil.png" alt ="Quizz logo">
        </div>
        <nav>
        <ul>
            <li><a href="/auth/login" class="login-btn">Login</a></li>
        </ul>
      </nav>
    </header>

    <!-- main section  -->
        <main>
            <div class="welcome-section">
                <h1>Welcome to a trivia quiz!</h1>
                <p id="blur">Feeling smart? Test your <br> knowledge by clicking start below.</p>
                <a href="/auth" class="get-started-btn">Start Quiz</a>
            </div>
            <div class="illustration">
                <img src="../public/images/exam.png" alt="Person using a computer">
            </div>
        </main>
    </div>
</body>
</html>