<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Results</title>
    <link rel="stylesheet" href="/stylesheets/result.css"> <!-- Link to CSS file -->
</head>
<body>
    <div class="result-container">
        <h1>Quiz Results</h1>
        <div class="result-content">
            <p><strong>Out of <%= count %> Questions</strong></p>
            <p><strong>You Scored: <span id="score"><%= score %></span> Points</strong></p>
        </div>
        <div class="result-buttons">
            <button onclick="location.href='/quiz/reset'">Retry</button>
        </div>
        <div class="result-buttons">
            <button onclick="location.href='/users/profile'">To Profile</button>
        </div>
        <p>Congratulations, you completed the quiz!</p>
    </div>
</body>
</html>