<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up</title>
        <link rel="stylesheet" href="/stylesheets/signup.css">
    </head>
    <body>
        <div class="container">
            <form method="POST" action="/auth/signup/submit" class="signup_form">
                <div class="form_header">
                    <h1>Sign up</h1>
                    <p>Already have an account? <a href="/auth/login">login</a></p>
                </div>
                
                <label for="username">User name</label>
                <input id="username" type="text" name="username">
                <label for="name">Full Name</label>
                <input id="name" type="text" name="name">
                <label for="email">Email</label>
                <input id="email" type="email" name="email">
                <label for="password">Password</label>
                <input id="password" type="password" name="password">
                <br>
                <input type="submit" value="Sign up">
                <p class="footnote">
                    By signing up to create an account, 
                    you are accepting out terms of services and privacy policy.
                </p>
            </form>
        </div>
    </body>
</html>
